{% extends "main_template.html" %}
{% block nav_container %}
<ul class="nav justify-content-between">
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Home</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="/homes/standard">standard</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Gadgets</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="/gadgets/containers">Containers</a>
            </li>
            <li>
                <a class="dropdown-item" href="/gadgets/colors">Colors</a>
            </li>
            <li>
                <a class="dropdown-item" href="/gadgets/cards">Cards</a>
            </li>
            <li>
                <a class="dropdown-item" href="/gadgets/buttons">Buttons</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Positioning</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="/positionings/standard">Standard</a>
            </li>
            <li>
                <a class="dropdown-item" href="/positionings/grids">Grids</a>
            </li>
            <li>
                <a class="dropdown-item" href="/positionings/tables">Tables</a>
            </li>
            <li>
                <a class="dropdown-item" href="/positionings/forms">Forms</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block main_container %}
<h2>Main page</h2>
{% endblock %}
{% block footer_container %}
<h2>footer</h2>
{% endblock %}
