<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="./quests/css/grids_menu.css">
    <style>
        body {
            width: 800px;
        }

        .container {
            margin: 5px 5%;
        }
        a:visited {
            color: black;
        }


        a:hover {
            background-color: black;
        }

        a:hover {
            color: white;
        }


        nav {
            border-bottom-style: solid;
            border-bottom-color: black;
            margin-bottom: 10px;
        }

        table {
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- top menu -->
    <nav>
    </nav>
    <!-- main -->
    <main class="container">
        <h1>homes</h1>
        <table border="1">
            <tr>
                <th>구분</th>
                <th>링크</th>
            </tr>
            <tr>
                <td>standard</td>
                <td><a href="/homes/standard">standard로 이동</a></td>
            </tr>
        </table>
        <h1>Gadgets</h1>
        <table border="1">
            <tr>
                <th>구분</th>
                <th>내용</th>
                <th>링크</th>
            </tr>
            <tr>
                <td>containers</td>
                <td>container의 사용 방법을 배움</td>
                <td><a href="/gadgets/containers">containers로 이동</a></td>
            </tr>
            <tr>
                <td>colors</td>
                <td> 바탕색을 설정하는 방법을 배움</td>
                <td><a href="/gadgets/colors">colors로 이동</a></td>
            </tr>
            
            <tr>
                <td>cards</td>
                <td> card를 설정하는 방법을 배움</td>
                <td><a href="/gadgets/cards">cards로 이동</a></td>
            </tr>
            <tr>
                <td>buttons</td>
                <td>button을 만드는 방법을 배움</td>
                <td><a href="/gadgets/buttons">buttons로 이동</a></td>
            </tr>
            

        </table>
        <h1>Positiongings</h1>
        <table border="1">
            <tr>
                <th>구분</th>
                <th>내용</th>
                <th>링크</th>
            </tr>
            <tr>
                <td>standard</td>
                <td> bootstraps 양식</td>
                <td><a href="/positionings/standard">standard로 이동</a></td>
            </tr>
            <tr>
                <td>grids</td>
                <td> grid를 설정하는 방법을 배움</td>
                <td><a href="/positionings/grids">grids로 이동</a></td>
            </tr>
            <tr>
                <td>tables</td>
                <td>table을 만드는 방법을 배움</td>
                <td><a href="/positionings/tables">Tables로 이동</a></td>
            </tr>
             <tr>
                <td>form</td>
                <td>form 만드는 방법을 배움</td>
                <td><a href="/positionings/forms">forms로 이동</a></td>
            </tr>
        </table>
    </main>
    <footer>        <h1><a href="/index">index</a></h1></footer>
</body>

</html>